.container {
  width: stretch;
  height: 40vh;
  background-color: #abdbe3;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow-y: scroll;
  font-family: Helvetica Neue;
}

.container ::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.close {
  align-self: flex-end;
  background-color: transparent;
  border: transparent;
  right: 5px;
}
